<div class="card">
  <div class="card-image" style="background-position: center;">
    <center>
    <img src="/assets/<%= @a_hospital.hos_name_eng %>_detail1.jpg" style = "width:1000px">
    <img src="/assets/<%= @a_hospital.hos_name_eng %>_detail2.jpg" style = "width:1000px">
    </center>
    <span class="card-title"><%= @a_hospital.hos_name_display %></span>
  </div>
  <div class="card-content" style = "text-align: center;">
    <p><%= @a_hospital.hos_intro %></p>
    <span class="star-rating">
      <% 1.upto(5) do |i| %>
        <% if i == @a_hospital.avg.round(0) %>
          <i class="on_star"></i>
        <% else %>
          <i></i>
        <% end %>
      <% end %>
    </span>
  
  
  
    <p><%= @a_hospital.avg.round(1) %> 점 (<%= @a_hospital.hos_replies.count%> 명)</p>
  </div>
  <div class="card-action" style = "text-align: center;">
    <a href="#">병원 홈페이지 이동</a>
  </div>
</div>


    
    <%= form_tag "/hospital/score_evaluate", method: "post" do %>
    <input type="hidden" name="tv_id" value="<%= @a_hospital.id %>">
    
    <div class="star-rating small_star">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </div>
    <br>
    <input type="text" class="form-control" name="msg" placeholder="별점 체크 후 평가를 남겨주세요">
    <br>
    <button class="btn btn-success" href="#" role="button">평가하기</button>
  <% end %>




<div class="row">
  <div class="col-lg-12">
    <!-- 각 코멘트들 -->
    <% @a_hospital.hos_replies.reverse.each do |c| %>
      <div>
        <span class="star-rating small_star">
          <% 1.upto(5) do |i| %>
            <% if i == c.hos_score %>
              <i class="on_star"></i>
            <% else %>
              <i></i>
            <% end %>
          <% end %>
        </span>
        
        <p><%= c.created_at.in_time_zone("Seoul") %></p>
        <% if current_user %>
        <p><%= c.user.email %> : <%= c.content %></p>
        <% end %>
      </div>
  <% end %>
  </div>
</div>