
   <!-- 데이터베이스에서 불러와 반복하여 뿌려줄 병원 정보 -->
  
<div class="container">
  <div class="row">
    <% @hospitals.each do |t| %>
      <div class="col l4 m6 s12">
        <div class="card"style = "height: 466px">
          <div class="card-image">
            <img src="/assets/<%= t.hos_name_eng %>_main.jpg"  width="320" height= "220">
            <span class="card-title"><%= t.hos_name_display %></span>
          </div>
          <div class="card-content" style = "height:125px">
            <p><%= t.hos_intro %></p>
          </div>
          <div class="card-action">
            <%= t.avg.round(1) %> 점 (<%= t.hos_replies.count %> 명)
            <a href="/hospital/detail/<%= t.id %>">자세히보기</a>
          
           <span class="star-rating small_star">
            <% 1.upto(5) do |i| %>
              <% if i == t.avg.round(0) %>
                <i class="on_star"></i>
              <% else %>
                <i></i>
              <% end %>
            <% end %>
            </span>
        
          
          </div>
         
        </div>
      </div>
    <% end %>
  </div>
</div>
 
  <!-- End wrapper-->
