<div class = "container">
<!-- MAIN-->
<!--END MAIN-->
  <div class = "row" style = "background-color : #e0e0e0;">
    <!-- left -->
    <div class="col s3">
     <!-- user info-->
        <div class="card-panel red lighten-2">
          <div class="caption center-align">
            <img src="" alt="" class="circle responsive-img" style = "height: 150px;
                    width: 150px;" > 
          </div>
          <span class="white-text"  style ="text-align: center">
            <h5></h5>
            <h6>코디 :  </h6>
          </span>
        </div>
          <!-- user infoend-->
          <!-- user part test-->
          <div class="card-panel white" style = "padding-top: 0px;    padding-right: 0px;    padding-bottom: 0px;    padding-left: 0px;">
              <div class = "row" style = "margin: 0.5rem 0 1rem 0;">
                  <% @tags.each do |key, value|%>
                      <div class= "col s4 form-box", id= <%=key%> style= "padding-right: 0px; padding-left: 0px;">
                      <img src="/assets/part_picture/<%= key %>.png" alt="" style = "height: 50px; width: 50px;" ></br>
                      <span id = "<%= key %>_val"><%= value[0] %></span>
                      </div> 
                  <% end %>
              </div>
                <div id="wanted_op">
                  <% @each_requesting.requesting_contents.each do |con| %>
                    <%= con.content %><br>
                  <% end %>
                    
                    
                    
                </div>
          </div>
          <!-- user part test-->
          <!-- user desire-->
              

                    
                
      
          <!-- user desire end-->
    </div>
          
      <!--left end -->
      
      <!--right start-->
    <div class="col s9">
          <!--right start-->
          <!--Userpicture , Wannabe star-->
      <div class="row">
        <div class ="col s12">
            <div class = "row"   style=  "width: 100%;">
                <div class = "col s4 card-panel teal" >
                이름 : <%= @each_requesting.user.realname %>
                </div>
                <div class = "col s4 card-panel teal" >
                E-mail : <%= @each_requesting.user.email %>
                </div>
                <div class = "col s4 card-panel teal" >
                예약날짜 : 
                </div>
            </div>
            <div class="col s9">
            
               
            <div class = "row"   style=  "width: 100%;">
              <div class="col s12 card-panel teal" style = " text-align :center;">
                <span class="white-text"  style ="text-align: center">
                  <h6>회원 사진</h6>
                </span>
              </div>
            <div class="col s4 card-panel white"  style = " text-align :center;margin-top: 0px;height : 230px">
              <div class = "row"   >
                <img class="materialboxed" data-caption="좌측 사진" width="100%" src="http://mimgnews2.naver.net/image/022/2015/09/14/20150914004555_0_99_20150914203713.jpg?type=w540">
              </div>
            </div>
            <div class="col s4 card-panel white" style = " text-align :center;margin-top: 0px;height : 230px">
              <div class = "row" >
                <img class="materialboxed" data-caption="정면 사진" width="100%" src="http://mimgnews2.naver.net/image/022/2015/09/14/20150914004555_0_99_20150914203713.jpg?type=w540">
              </div>
            </div>
            <div class="col s4 card-panel white" style = " text-align :center;margin-top: 0px ;height : 230px">
              <div class = "row" >
                <img class="materialboxed" data-caption="우측 사진" width="100%" src="http://mimgnews2.naver.net/image/022/2015/09/14/20150914004555_0_99_20150914203713.jpg?type=w540">
              </div>              
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class = "row">
            <div class="col s12 card-panel teal" style = " text-align :center; ">
              <span class="white-text"  style ="text-align: center">
                <h6>스타 사진</h6>
              </span>
            </div>
            <div class="col s12 card-panel white" style = " text-align :center;margin-top: 0px;height : 230px">
              <div class = "row" >
                <img class="materialboxed" data-caption="스타 사진" width="100%" src="http://mimgnews2.naver.net/image/022/2015/09/14/20150914004555_0_99_20150914203713.jpg?type=w540">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
         <!--Userpicture , Wannabe starend-->
         <!-- 관심수술-->
     <div class="col s12 card-panel teal" style = " text-align :center;  margin-top:-25px;margin-bottom: 10px;">
      <span class="white-text"  style ="text-align: center">
        <h6>요청 수술</h6>
      </span>
    </div>
     <!--관심수술-->
         
         <!--Choice start -->
   <% @tags.each do |key, value| %>
    <div class="row" id="interest_op">
      <div class ="col s12 disappear" id="interest_op_<%= key %>">
        <div class="col s1" style = "padding-right: 0px;padding-left: 0px; ">
          <div class="card-panel teal" style = " text-align :center; height : 110px;">
            <span class="white-text"  style ="text-align: center; ">
              <h6><%=value[0]%></h6>
            </span>
          </div>
        </div>
        <!--체크박스 시작-->
        <div class="col s11" style = "padding-right: 0px;padding-left: 0px;">
          <div class="col s12 card-panel white" style = " text-align :center; padding-top:10px; height : 110px; ">
            <% for i in (1..value[1].length) do%>
              <div class="col s3">
                <form action="#">
                  <p>
                    <input type="checkbox" id="<%= key %>_<%= i %>_val" name="<%= key %>" value="<%= value[1][i-1] %> : no" />
                    <label for="<%= key %>_<%= i %>_val"><%= value[1][i-1] %></label>
                  </p>
                </form>
              </div>
            <% end %>
          </div>
        </div>
        <!--체크박스 끝-->
      </div>
    </div>
   <% end %>
         <!--Choice end-->
         <!-- send button start-->
    <div class="row">
     <div class ="col s12">
      <div class = "col s10"><p></p> </div>
        <div class = "col s2">
          <button class="btn waves-effect waves-light" id="submit_button" type="submit" name="action">Submit
            <i class="material-icons">send</i>
          </button>
        </div>
      </div>
    </div>
    <!-- send button end-->
   </div>
  <!-- right end-->
 </div>
</div>
<!-- Part box jQuery-->
<script>

$(document).ready(function(){
    
    ////v수술 부분 선택시작 //
      alert("hi4");
      <% @tags.each do |key, value| %>
          $('#<%= key %>').on({
              mouseover: function(){
                  $('#<%= key %>').addClass('check');
              },
               mouseleave: function(){
                   $('#<%= key %>').removeClass('check');
              },
              click: function(){
                  if($('#<%= key %>').hasClass("form-box")){      
                    $('#<%= key %>').removeClass('form-box').addClass('check');
                    $('#interest_op_<%= key %>').removeClass('disappear').addClass('appear');
                    $('#<%= key %>').off("mouseleave");
                  }    
                  else if ($('#<%= key %>').hasClass("check")){
                    $('#<%= key %>').removeClass('check').addClass('form-box');
                    $('#interest_op_<%= key %>').removeClass('appear').addClass('disappear');   
                    $('#<%= key %>').on('mouseleave', function(){
                            $('#<%= key %>').removeClass('check');
                            });    
                  }
              }
          });
          <% for i in (1..value[1].length) do %>
            $("#<%=key%>_<%=i%>_val").click(function(){
              $("#<%=key%>_<%=i%>_val").attr('value',"<%= value[1][i-1] %> : yes");
            });
          <% end %>
      <% end %>
      
      $('#submit_button').click(function(){
        var region = $("#region option:selected").val();
        var checking1 = $("#antibiotic").is(":checked")
        var checking2 = $("#painkiller").is(":checked")
        if(checking1){
          var antibiotic = $("#antibiotic").val()
        }
        if(checking2){
          var painkiller = $("#painkiller").val()
        }
        
        $.ajax({
          data: {
            desire_cost: $("#desire_cost").val(),
            // desire_period: $("#desire_period ").val(),
            desire_time: $("#desire_time").val(),
            sleep_time: $("#sleep_time").val(),
            region: region,
            antibiotic: antibiotic,
            painkiller: painkiller
          },
          url:"/estimating/requesting_complete",
          success: function(){
            alert("good");
          }
        });
       <% @tags.each do |key, value| %>
         if($('#<%=key%>').hasClass('check')){
            $.ajax({
              data: {
                part: $("#<%= key %>_val").html(),
                <% for i in (1..value[1].length) do %>
                 
                  <%if i != value[1].length %>
                    check_values<%= i %>: $("#<%= key %>_<%= i %>_val").val(),
                  <% else %>
                    check_values<%= i %>: $("#<%= key %>_<%= i %>_val").val()
                  <% end %>
                
                <% end %>
                },
              method: "get",
              url: "/estimating/requesting_content",
              success: function(){
                alert("hi");
              },
              error: function(){
                alert("bye");
              }
            });
         }
       <% end %>
     });
});

//slider js
$('.slider').slider({full_width: true});





</script>
<!-- Part box jQuery end-->
