<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="col s12 card-panel teal" style=" text-align :left;">
                <span class="white-text" style="text-align: center">
                    <h6>병원정보</h6>
                </span>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="row">
                    <div class="col s6">
                        <div class="card-image">
                            <img src="/assets/<%= ["da_main", "grand_main", "juwerly_main", "mega_main", "regen_main"].sample(1).first %>.jpg" 
                                  style="height: 400px;">
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="card-content">
                            <span class="card-title" style="color:black;"><%= @each_counsel.codi.hospital.hos_name_display  %></span>
                            <br>
                            <p>평균 응답시간 <%=["10.21분", "30.2분", "14.32분"].sample(1).first  %></p>
                            <br>
                            <p>평 점 </p>
                            <br>
                            <div class="star-rating small_star">
                              <input type="radio" name="rating" value="1"><i></i>
                              <input type="radio" name="rating" value="2"><i></i>
                              <input type="radio" name="rating" value="3"><i></i>
                              <input type="radio" name="rating" value="4"><i></i>
                              <input type="radio" name="rating" value="5"><i></i>
                            </div>
                            <br>
                            <p>견적 채택률 <%=["0.9%", "1.2%", "3.5%"].sample(1).first  %></p>
                            <br>
                            <p>시술건수 <%=["983건", "599건", "9666건"].sample(1).first  %></p>
                            <br>
                        </div>
                            
                        <div class="card-action" style = "text-algin:center;">
                            <a href="#">병원 이동</a>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12">
            <div class="col s12 card-panel teal" style=" text-align :left;">
                <span class="white-text" style="text-align: center">
                    <h6>병원후기</h6>
                </span>
            </div>
        </div>
        <div class="col s12" sytle ="height:906.594px; width:906.594px; ">
            <div class="card"  sytle ="height:300px">
                
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12">
            <div class="col s12 card-panel teal">
                <span class="white-text" style="text-align: center;">
                    <h6>나의 견적</h6>
                  
                </span>
            </div>
        </div>
        <div class="col s12" >
            <div class="card">
                    <p>
                        <% @each_counsel.counsel_contents.each do |con| %>
                            <td><%= con.content %></td>
                        <% end %>
                    </p>
                
                
                                
            </div>
        </div>
    </div>
    
</div>