<div class = "container">
  <div class = "row" style = "background-color : #e0e0e0;">
    <!-- 왼쪽 navbar -->
    <div class="col s3">
        <!-- user info-->
        <div class="card-panel red lighten-2">
          <div class="caption center-align">
            <img src="<%current_user.profile_img%>" alt="" class="circle responsive-img" style = "height: 150px;
                    width: 150px;" > 
          </div>
          <span class="white-text"  style ="text-align: center">
            <h5><%=current_user.realname%></h5>
            <h6>年龄 : <%=current_user.age%> </h6>
            <h6>性別 : <%=current_user.sex%></h6>
          </span>
        </div>
        <!-- END user info-->
        
        <nav class="white" role="navigation">
          <a href="/mypage/estimating_box" style="color: black;">
            <div class="nav-wrapper container">
              견적함
            </div>
          </a>
        </nav>
        <nav class="white" role="navigation">
          <a href="/mypage/save_box" style="color: black;">
            <div class="nav-wrapper container">
              후기 보관함
            </div>
          </a>
        </nav>  
        
        <nav class="white" role="navigation">
          <a href="/mypage/trace" style="color: black;">
            <div class="nav-wrapper container">
              내가 쓴 글
            </div>
          </a>
        </nav>        
        <nav class="white" role="navigation">
          <a href="#" style="color: black;">
            <div class="nav-wrapper container">
              내가 받은 수술
            </div>
          </a>
        </nav>        
        <nav class="white" role="navigation">
          <a href="/mypage/account" style="color: black;">
            <div class="nav-wrapper container">
              Account
            </div>
          </a>
        </nav>        
    </div>
    <!-- END 왼쪽 navbar -->
      
    <!--right start-->
    <div class="col s9">
      <!--right start-->
        <nav>
          <div class="nav-wrapper" style ="background-color:#009688 !important;">
            <a href="#" class="brand-logo" style = "color:white; font-size:25px; margin-left:20px;">전체보기</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html" style = "color:white;">눈</a></li>
            <li><a href="badges.html" style = "color:white;">코</a></li>
            <li><a href="collapsible.html" style = "color:white;">입</a></li>
            <li><a href="collapsible.html" style = "color:white;">이마</a></li>
            <li><a href="collapsible.html" style = "color:white;">가슴</a></li>
            <li><a href="collapsible.html" style = "color:white;">지방이식</a></li>
            <li><a href="collapsible.html" style = "color:white;">보톡스</a></li>
            <li><a href="collapsible.html" style = "color:white; margin-right: 5px;">모발이식</a></li>
          </ul>
          </div>
        </nav>
        
            <!--right start-->
            <div class="row">
                <% @all_counsel.each do |coun| %>
                    <div class="col s4">
                      <div class="card small" style="width:100%; padding-right: 5px; padding-left: 5px;">
                        <div class="card-image">
                          <img src="/assets/background1.jpg" style="height: 150px;">
                          <span class="card-title">병원이름</span>
                        </div>
                        <div class="card-content" style="padding-top: 0px; padding-bottom: 0px;">
                          <br>
                            <p>코디이름 : <%= coun.codi.realname %></p>
                            <p>추천수술 : 
                                <% coun.counsel_contents.each do |con| %>
                                    <td><%= con.content %></td>
                                <% end %>
                            </p>
                        </div>
                        <div class="card-action" style = "text-align:center;">
                          <a href="/mypage/estimating_box_detail/<%= coun.id %>">자세히보기</a>
                        </div>
                      </div>
                    </div>
                <% end %>
            </div>
        
        
        
        
        
        
        
        
        
        
        
  <!-- right end-->
   </div>
</div>
