<nav class="red lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text">江南style</a>
    <ul class="right hide-on-med-and-down">

      <% if user_signed_in? %>
        <li><%= link_to "LOGOUT", destroy_user_session_path, :class => "white-text",method: 'delete' %></li>
        <li><%= link_to "MY PAGE", 'mypage/account', :class => "white-text",method: 'get' %></li>
      <% elsif codi_signed_in? %>
        <li><%= link_to "LOGOUT", destroy_codi_session_path, :class => "white-text",method: 'delete' %></li>
        <li><%= link_to "MY PAGE", 'mypage/codi_account', :class => "white-text",method: 'get' %></li>
      <% else %>  
        <li><a href="/users/sign_in" class="white-text">LOGIN</a></li>
        <li><a href="/users/sign_up" class="white-text">SIGN UP</a></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
      
      <li><a href="/estimating/requesting">견적신청</a></li>
      <li><a href="/hospital/index">병원정보</a></li>
      <li><a href="/review/index">후기</a></li>
     <li class="<%= params[:bulletin_id] == '1' ? 'active' : '' %>"><%= link_to '공지사항', bulletin_posts_path('1') %></li>
     <li class="<%= params[:bulletin_id] == '2' ? 'active' : '' %>"><%= link_to '새소식', bulletin_posts_path('2') %></li>
     <li class="<%= params[:bulletin_id] == '3' ? 'active' : '' %>"><%= link_to '가입인사', bulletin_posts_path('3') %></li>
     <li class="<%= params[:bulletin_id] == '4' ? 'active' : '' %>"><%= link_to '갤러리', bulletin_posts_path('4') %></li>  
     </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>