<nav class="red lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text">江南style</a>
    <ul class="right hide-on-med-and-down">

      <% if user_signed_in? %>
        <li><%= link_to "LOGOUT", destroy_user_session_path, :class => "white-text",method: 'delete' %></li>
        <li><%= link_to "MY PAGE", 'mypage/estimating_box', :class => "white-text",method: 'get' %></li>
      <% elsif codi_signed_in? %>
        <li><%= link_to "LOGOUT", destroy_codi_session_path, :class => "white-text",method: 'delete' %></li>
        <li><%= link_to "MY PAGE", 'mypage/codi_account', :class => "white-text",method: 'get' %></li>
      <% else %>  
        <li><a href="/users/sign_in" class="white-text">LOGIN</a></li>
        <li><a href="/users/sign_up" class="white-text">SIGN UP</a></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
      
      
      
      <% if codi_signed_in? %>
        <li>
          <!-- Dropdown Trigger -->
          <a class='dropdown' href='#' data-activates='dropdown1' style="color: black;">
            견적함&nbsp&nbsp<i class="fa fa-angle-down" style="font-size: 18px; display: inline;"></i>
          </a>
        
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/estimating/counsel_waiting" style="color: black; font-size:1rem;">상담대기</a></li>
            <li><a href="/estimating/counsel_complete" style="color: black; font-size:1rem;">상담완료</a></li>
            <li class="divider"></li>
            <li><a href="/estimating/manage_waiting" style="color: black; font-size:1rem;">추가상담대기</a></li>
            <li><a href="/estimating/manage_complete" style="color: black; font-size:1rem;">추가상담완료</a></li>
          </ul>
        </li>
      <% else %>
        <li><a href="/estimating/requesting" style="color: black;">견적신청</a></li>
      <% end %>
      
      <li><a href="/hospital/index" style="color: black;">병원정보</a></li>
      <li><a href="/review/index" style="color: black;">후기</a></li>
     
     <li class="<%= params[:bulletin_id] == '1' ? 'active' : '' %>"><%= link_to '공지사항', bulletin_posts_path('1') %></li>
     <li class="<%= params[:bulletin_id] == '2' ? 'active' : '' %>"><%= link_to '새소식', bulletin_posts_path('2') %></li>
     <li class="<%= params[:bulletin_id] == '3' ? 'active' : '' %>"><%= link_to '가입인사', bulletin_posts_path('3') %></li>
     <li class="<%= params[:bulletin_id] == '4' ? 'active' : '' %>"><%= link_to '갤러리', bulletin_posts_path('4') %></li>  
      
      
     
     </ul>

    <ul id="nav-mobile" class="side-nav">
      <li style="color: black;"><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<script>
$(document).ready(function(){
      $('.dropdown').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
  
  
});

</script>
