<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :realname, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :sex %><br />

    <%= f.radio_button(:sex, "male") %>
    <%= f.label(:sex_male, "MALE") %>
    <%= f.radio_button(:sex, "female") %>
    <%= f.label(:sex_female, "FEMALE") %>
  </div>
  
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :phonenumber %><br />
    <%= f.telephone_field :phonenumber, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :interested_operation %><br />
    <%= f.text_field :interested_operation, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<a href="/codis/sign_up">Coordinator SIGN UP</a></br>
<%= render "users/shared/links" %>
